.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #282c34;
  border-radius: 5px;
}
.sign-up-form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #282c34;
  border-radius: 5px;
}
.sign-up-form button {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #282c34;
  border-radius: 5px;
  background-color: #728fc9;
  color: white;
}
